In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('/home/aditya/All Github/SpaceX/data/raw/SpaceX_Falcon.csv')
df

,FlightNumber,Date,BoosterVersion,PayloadMass,Orbit,LaunchSite,Outcome,Flights,GridFins,Reused,Legs,LandingPad,Block,ReusedCount,Serial,Longitude,Latitude
0,1,2006-03-24,Falcon 1,20.0,LEO,Kwajalein Atoll,None None,1,False,False,False,NaN,NaN,0,Merlin1A,167.743129,9.047721
1,2,2007-03-21,Falcon 1,NaN,LEO,Kwajalein Atoll,None None,1,False,False,False,NaN,NaN,0,Merlin2A,167.743129,9.047721
2,4,2008-09-28,Falcon 1,165.0,LEO,Kwajalein Atoll,None None,1,False,False,False,NaN,NaN,0,Merlin2C,167.743129,9.047721
3,5,2009-07-13,Falcon 1,200.0,LEO,Kwajalein Atoll,None None,1,False,False,False,NaN,NaN,0,Merlin3C,167.743129,9.047721
4,6,2010-06-04,Falcon 9,NaN,LEO,CCSFS SLC 40,None None,1,False,False,False,NaN,1.0,0,B0003,-80.577366,28.561857
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
167,181,2022-08-28,Falcon 9,13260.0,VLEO,KSC LC 39A,True ASDS,2,True,True,True,5e9e3033383ecb075134e7cd,5.0,1,B1069,-80.603956,28.608058
168,182,2022-08-31,Falcon 9,13260.0,VLEO,VAFB SLC 4E,True ASDS,7,True,True,True,5e9e3032383ecb6bb234e7ca,5.0,6,B1063,-120.610829,34.632093
169,185,2022-09-17,Falcon 9,13260.0,VLEO,CCSFS SLC 40,True ASDS,6,True,True,True,5e9e3033383ecbb9e534e7cc,5.0,5,B1067,-80.577366,28.561857
170,186,2022-09-24,Falcon 9,13260.0,VLEO,CCSFS SLC 40,True ASDS,4,True,True,True,5e9e3033383ecbb9e534e7cc,5.0,0,B1072,-80.577366,28.561857
171,187,2022-10-05,Falcon 9,NaN,ISS,KSC LC 39A,True ASDS,1,True,False,True,5e9e3033383ecbb9e534e7cc,5.0,0,B1077,-80.603956,28.608058

In [3]:
df = df.query("BoosterVersion == 'Falcon 9'")

In [3]:
df.columns

Index(['FlightNumber', 'Date', 'BoosterVersion', 'PayloadMass', 'Orbit',
       'LaunchSite', 'Outcome', 'Flights', 'GridFins', 'Reused', 'Legs',
       'LandingPad', 'Block', 'ReusedCount', 'Serial', 'Longitude',
       'Latitude'],
      dtype='object')

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 168 entries, 4 to 171
Data columns (total 17 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   FlightNumber    168 non-null    int64
 1   Date            168 non-null    object
 2   BoosterVersion  168 non-null    object
 3   PayloadMass     146 non-null    float64
 4   Orbit           167 non-null    object
 5   LaunchSite      168 non-null    object
 6   Outcome         168 non-null    object
 7   Flights         168 non-null    int64
 8   GridFins        168 non-null    bool
 9   Reused          168 non-null    bool
 10  Legs            168 non-null    bool
 11  LandingPad      142 non-null    object
 12  Block           168 non-null    float64
 13  ReusedCount     168 non-null    int64
 14  Serial          168 non-null    object
 15  Longitude       168 non-null    float64
 16  Latitude        168 non-null    float64
dtypes: bool(3), float64(4), int64(3), object(7)
memory usage: 20.2+ KB

# Data Cleaning

In [5]:
df.BoosterVersion.value_counts()

BoosterVersion
Falcon 9    168
Name: count, dtype: int64

In [6]:
df.isnull().sum()

FlightNumber       0
Date               0
BoosterVersion     0
PayloadMass       22
Orbit              1
LaunchSite         0
Outcome            0
Flights            0
GridFins           0
Reused             0
Legs               0
LandingPad        26
Block              0
ReusedCount        0
Serial             0
Longitude          0
Latitude           0
dtype: int64

In [7]:
df[pd.isna(df['LandingPad']) | pd.isna(df['PayloadMass']) | pd.isna(df['Orbit']) ]

,FlightNumber,Date,BoosterVersion,PayloadMass,Orbit,LaunchSite,Outcome,Flights,GridFins,Reused,Legs,LandingPad,Block,ReusedCount,Serial,Longitude,Latitude
4,6,2010-06-04,Falcon 9,NaN,LEO,CCSFS SLC 40,None None,1,False,False,False,NaN,1.0,0,B0003,-80.577366,28.561857
5,8,2012-05-22,Falcon 9,525.00,LEO,CCSFS SLC 40,None None,1,False,False,False,NaN,1.0,0,B0005,-80.577366,28.561857
6,10,2013-03-01,Falcon 9,677.00,ISS,CCSFS SLC 40,None None,1,False,False,False,NaN,1.0,0,B0007,-80.577366,28.561857
7,11,2013-09-29,Falcon 9,500.00,PO,VAFB SLC 4E,False Ocean,1,False,False,False,NaN,1.0,0,B1003,-120.610829,34.632093
8,12,2013-12-03,Falcon 9,3170.00,GTO,CCSFS SLC 40,None None,1,False,False,False,NaN,1.0,0,B1004,-80.577366,28.561857
9,13,2014-01-06,Falcon 9,3325.00,GTO,CCSFS SLC 40,None None,1,False,False,False,NaN,1.0,0,B1005,-80.577366,28.561857
10,14,2014-04-18,Falcon 9,2296.00,ISS,CCSFS SLC 40,True Ocean,1,False,False,True,NaN,1.0,0,B1006,-80.577366,28.561857
11,15,2014-07-14,Falcon 9,1316.00,LEO,CCSFS SLC 40,True Ocean,1,False,False,True,NaN,1.0,0,B1007,-80.577366,28.561857
12,16,2014-08-05,Falcon 9,4535.00,GTO,CCSFS SLC 40,None None,1,False,False,False,NaN,1.0,0,B1008,-80.577366,28.561857
13,17,2014-09-07,Falcon 9,4428.00,GTO,CCSFS SLC 40,None None,1,False,False,False,NaN,1.0,0,B1011,-80.577366,28.561857
14,18,2014-09-21,Falcon 9,2216.00,ISS,CCSFS SLC 40,False Ocean,1,False,False,False,NaN,1.0,0,B1010,-80.577366,28.561857
16,20,2015-02-11,Falcon 9,570.00,ES-L1,CCSFS SLC 40,True Ocean,1,True,False,True,NaN,1.0,0,B1013,-80.577366,28.561857
18,23,2015-04-27,Falcon 9,4707.00,GTO,CCSFS SLC 40,None None,1,False,False,False,NaN,1.0,0,B1016,-80.577366,28.561857
31,37,2017-03-16,Falcon 9,5600.00,GTO,KSC LC 39A,None None,1,False,False,False,NaN,3.0,0,B1030,-80.603956,28.608058
33,39,2017-05-01,Falcon 9,NaN,LEO,KSC LC 39A,True RTLS,1,True,False,True,5e9e3032383ecb267a34e7c7,3.0,1,B1032,-80.603956,28.608058
34,40,2017-05-15,Falcon 9,6070.00,GTO,KSC LC 39A,None None,1,False,False,False,NaN,3.0,0,B1034,-80.603956,28.608058
38,44,2017-07-05,Falcon 9,6761.00,GTO,KSC LC 39A,None None,1,False,False,False,NaN,3.0,0,B1037,-80.603956,28.608058
46,52,2017-12-23,Falcon 9,9600.00,PO,VAFB SLC 4E,True Ocean,2,True,True,False,NaN,3.0,1,B1036,-120.610829,34.632093
47,53,2018-01-08,Falcon 9,NaN,LEO,CCSFS SLC 40,True RTLS,1,True,False,True,5e9e3032383ecb267a34e7c7,4.0,1,B1043,-80.577366,28.561857
48,54,2018-01-31,Falcon 9,4230.00,GTO,CCSFS SLC 40,True Ocean,2,True,True,True,NaN,3.0,1,B1032,-80.577366,28.561857
49,57,2018-03-06,Falcon 9,6092.00,GTO,CCSFS SLC 40,None None,1,True,False,True,NaN,4.0,0,B1044,-80.577366,28.561857
50,58,2018-03-30,Falcon 9,9600.00,PO,VAFB SLC 4E,None None,2,True,True,True,NaN,4.0,1,B1041,-120.610829,34.632093
51,59,2018-04-02,Falcon 9,2760.00,ISS,CCSFS SLC 40,None None,2,True,True,True,NaN,4.0,1,B1039,-80.577366,28.561857
54,63,2018-06-04,Falcon 9,5383.85,GTO,CCSFS SLC 40,None None,2,False,True,False,NaN,4.0,1,B1040,-80.577366,28.561857
55,64,2018-06-29,Falcon 9,2410.00,ISS,CCSFS SLC 40,None None,2,False,True,False,NaN,4.0,1,B1045,-80.577366,28.561857
64,73,2018-12-23,Falcon 9,4400.00,MEO,CCSFS SLC 40,None None,1,False,False,False,NaN,5.0,0,B1054,-80.577366,28.561857
71,83,2019-08-06,Falcon 9,6500.00,GTO,CCSFS SLC 40,None None,3,False,True,False,NaN,5.0,2,B1047,-80.577366,28.561857
76,88,2020-01-19,Falcon 9,NaN,SO,KSC LC 39A,None None,4,False,True,False,NaN,5.0,3,B1046,-80.603956,28.608058
86,98,2020-07-20,Falcon 9,NaN,GEO,CCSFS SLC 40,True ASDS,2,True,True,True,5e9e3033383ecbb9e534e7cc,5.0,13,B1058,-80.577366,28.561857
94,107,2020-11-16,Falcon 9,NaN,ISS,KSC LC 39A,True ASDS,1,True,False,True,5e9e3033383ecbb9e534e7cc,5.0,9,B1061,-80.603956,28.608058
99,112,2020-12-19,Falcon 9,NaN,NaN,KSC LC 39A,True RTLS,5,True,True,True,5e9e3032383ecb267a34e7c7,5.0,5,B1059,-80.603956,28.608058
102,115,2021-01-24,Falcon 9,NaN,SSO,CCSFS SLC 40,True ASDS,5,True,True,True,5e9e3032383ecb6bb234e7ca,5.0,13,B1058,-80.577366,28.561857
110,123,2021-04-23,Falcon 9,NaN,ISS,KSC LC 39A,True ASDS,2,True,True,True,5e9e3032383ecb6bb234e7ca,5.0,9,B1061,-80.603956,28.608058
118,132,2021-06-30,Falcon 9,NaN,SSO,CCSFS SLC 40,True RTLS,8,True,True,True,5e9e3032383ecb267a34e7c7,5.0,12,B1060,-80.577366,28.561857
119,133,2021-08-29,Falcon 9,NaN,ISS,KSC LC 39A,True ASDS,4,True,True,True,5e9e3033383ecb075134e7cd,5.0,9,B1061,-80.603956,28.608058
121,135,2021-09-16,Falcon 9,NaN,LEO,KSC LC 39A,True ASDS,3,True,True,True,5e9e3033383ecbb9e534e7cc,5.0,8,B1062,-80.603956,28.608058
129,143,2021-12-21,Falcon 9,NaN,ISS,KSC LC 39A,True ASDS,1,True,False,True,5e9e3033383ecbb9e534e7cc,5.0,1,B1069,-80.603956,28.608058
131,145,2022-01-13,Falcon 9,NaN,LEO,CCSFS SLC 40,True RTLS,10,True,True,True,5e9e3032383ecb267a34e7c7,5.0,13,B1058,-80.577366,28.561857
134,148,2022-02-02,Falcon 9,NaN,LEO,VAFB SLC 4E,True RTLS,1,True,False,True,5e9e3032383ecb554034e7c9,5.0,3,B1071,-120.610829,34.632093
141,155,2022-04-01,Falcon 9,NaN,SSO,CCSFS SLC 40,True ASDS,7,True,True,True,5e9e3033383ecbb9e534e7cc,5.0,9,B1061,-80.577366,28.561857
142,156,2022-04-08,Falcon 9,NaN,ISS,KSC LC 39A,True ASDS,5,True,True,True,5e9e3033383ecb075134e7cd,5.0,8,B1062,-80.603956,28.608058
143,157,2022-04-17,Falcon 9,NaN,LEO,VAFB SLC 4E,True RTLS,2,True,True,True,5e9e3032383ecb554034e7c9,5.0,3,B1071,-120.610829,34.632093
145,159,2022-04-27,Falcon 9,NaN,ISS,KSC LC 39A,True ASDS,4,True,True,True,5e9e3033383ecb075134e7cd,5.0,5,B1067,-80.603956,28.608058
151,165,2022-05-25,Falcon 9,NaN,SSO,CCSFS SLC 40,True RTLS,8,True,True,True,5e9e3032383ecb267a34e7c7,5.0,9,B1061,-80.577366,28.561857
159,173,2022-07-15,Falcon 9,NaN,ISS,KSC LC 39A,True ASDS,5,True,True,True,5e9e3033383ecb075134e7cd,5.0,5,B1067,-80.603956,28.608058
171,187,2022-10-05,Falcon 9,NaN,ISS,KSC LC 39A,True ASDS,1,True,False,True,5e9e3033383ecbb9e534e7cc,5.0,0,B1077,-80.603956,28.608058

In [8]:
df.Outcome.value_counts()

Outcome
True ASDS      109
True RTLS       23
None None       19
False ASDS       7
True Ocean       5
False Ocean      2
None ASDS        2
False RTLS       1
Name: count, dtype: int64

In [9]:
df.LandingPad

4                           NaN
5                           NaN
6                           NaN
7                           NaN
8                           NaN
                 ...
167    5e9e3033383ecb075134e7cd
168    5e9e3032383ecb6bb234e7ca
169    5e9e3033383ecbb9e534e7cc
170    5e9e3033383ecbb9e534e7cc
171    5e9e3033383ecbb9e534e7cc
Name: LandingPad, Length: 168, dtype: object

In [10]:
df[pd.isna(df['LandingPad'])]

,FlightNumber,Date,BoosterVersion,PayloadMass,Orbit,LaunchSite,Outcome,Flights,GridFins,Reused,Legs,LandingPad,Block,ReusedCount,Serial,Longitude,Latitude
4,6,2010-06-04,Falcon 9,NaN,LEO,CCSFS SLC 40,None None,1,False,False,False,NaN,1.0,0,B0003,-80.577366,28.561857
5,8,2012-05-22,Falcon 9,525.00,LEO,CCSFS SLC 40,None None,1,False,False,False,NaN,1.0,0,B0005,-80.577366,28.561857
6,10,2013-03-01,Falcon 9,677.00,ISS,CCSFS SLC 40,None None,1,False,False,False,NaN,1.0,0,B0007,-80.577366,28.561857
7,11,2013-09-29,Falcon 9,500.00,PO,VAFB SLC 4E,False Ocean,1,False,False,False,NaN,1.0,0,B1003,-120.610829,34.632093
8,12,2013-12-03,Falcon 9,3170.00,GTO,CCSFS SLC 40,None None,1,False,False,False,NaN,1.0,0,B1004,-80.577366,28.561857
9,13,2014-01-06,Falcon 9,3325.00,GTO,CCSFS SLC 40,None None,1,False,False,False,NaN,1.0,0,B1005,-80.577366,28.561857
10,14,2014-04-18,Falcon 9,2296.00,ISS,CCSFS SLC 40,True Ocean,1,False,False,True,NaN,1.0,0,B1006,-80.577366,28.561857
11,15,2014-07-14,Falcon 9,1316.00,LEO,CCSFS SLC 40,True Ocean,1,False,False,True,NaN,1.0,0,B1007,-80.577366,28.561857
12,16,2014-08-05,Falcon 9,4535.00,GTO,CCSFS SLC 40,None None,1,False,False,False,NaN,1.0,0,B1008,-80.577366,28.561857
13,17,2014-09-07,Falcon 9,4428.00,GTO,CCSFS SLC 40,None None,1,False,False,False,NaN,1.0,0,B1011,-80.577366,28.561857
14,18,2014-09-21,Falcon 9,2216.00,ISS,CCSFS SLC 40,False Ocean,1,False,False,False,NaN,1.0,0,B1010,-80.577366,28.561857
16,20,2015-02-11,Falcon 9,570.00,ES-L1,CCSFS SLC 40,True Ocean,1,True,False,True,NaN,1.0,0,B1013,-80.577366,28.561857
18,23,2015-04-27,Falcon 9,4707.00,GTO,CCSFS SLC 40,None None,1,False,False,False,NaN,1.0,0,B1016,-80.577366,28.561857
31,37,2017-03-16,Falcon 9,5600.00,GTO,KSC LC 39A,None None,1,False,False,False,NaN,3.0,0,B1030,-80.603956,28.608058
34,40,2017-05-15,Falcon 9,6070.00,GTO,KSC LC 39A,None None,1,False,False,False,NaN,3.0,0,B1034,-80.603956,28.608058
38,44,2017-07-05,Falcon 9,6761.00,GTO,KSC LC 39A,None None,1,False,False,False,NaN,3.0,0,B1037,-80.603956,28.608058
46,52,2017-12-23,Falcon 9,9600.00,PO,VAFB SLC 4E,True Ocean,2,True,True,False,NaN,3.0,1,B1036,-120.610829,34.632093
48,54,2018-01-31,Falcon 9,4230.00,GTO,CCSFS SLC 40,True Ocean,2,True,True,True,NaN,3.0,1,B1032,-80.577366,28.561857
49,57,2018-03-06,Falcon 9,6092.00,GTO,CCSFS SLC 40,None None,1,True,False,True,NaN,4.0,0,B1044,-80.577366,28.561857
50,58,2018-03-30,Falcon 9,9600.00,PO,VAFB SLC 4E,None None,2,True,True,True,NaN,4.0,1,B1041,-120.610829,34.632093
51,59,2018-04-02,Falcon 9,2760.00,ISS,CCSFS SLC 40,None None,2,True,True,True,NaN,4.0,1,B1039,-80.577366,28.561857
54,63,2018-06-04,Falcon 9,5383.85,GTO,CCSFS SLC 40,None None,2,False,True,False,NaN,4.0,1,B1040,-80.577366,28.561857
55,64,2018-06-29,Falcon 9,2410.00,ISS,CCSFS SLC 40,None None,2,False,True,False,NaN,4.0,1,B1045,-80.577366,28.561857
64,73,2018-12-23,Falcon 9,4400.00,MEO,CCSFS SLC 40,None None,1,False,False,False,NaN,5.0,0,B1054,-80.577366,28.561857
71,83,2019-08-06,Falcon 9,6500.00,GTO,CCSFS SLC 40,None None,3,False,True,False,NaN,5.0,2,B1047,-80.577366,28.561857
76,88,2020-01-19,Falcon 9,NaN,SO,KSC LC 39A,None None,4,False,True,False,NaN,5.0,3,B1046,-80.603956,28.608058

In [18]:
df.loc[:, ('LandingPad', 'PayloadMass', 'Orbit')].fillna(method='bfill', inplace=True)

In [20]:
df.isnull().sum().sum()

0

In [21]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 168 entries, 4 to 171
Data columns (total 17 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   FlightNumber    168 non-null    int64
 1   Date            168 non-null    object
 2   BoosterVersion  168 non-null    object
 3   PayloadMass     168 non-null    float64
 4   Orbit           168 non-null    object
 5   LaunchSite      168 non-null    object
 6   Outcome         168 non-null    object
 7   Flights         168 non-null    int64
 8   GridFins        168 non-null    bool
 9   Reused          168 non-null    bool
 10  Legs            168 non-null    bool
 11  LandingPad      168 non-null    object
 12  Block           168 non-null    float64
 13  ReusedCount     168 non-null    int64
 14  Serial          168 non-null    object
 15  Longitude       168 non-null    float64
 16  Latitude        168 non-null    float64
dtypes: bool(3), float64(4), int64(3), object(7)
memory usage: 20.2+ KB

In [22]:
df

,FlightNumber,Date,BoosterVersion,PayloadMass,Orbit,LaunchSite,Outcome,Flights,GridFins,Reused,Legs,LandingPad,Block,ReusedCount,Serial,Longitude,Latitude
4,6,2010-06-04,Falcon 9,525.0,LEO,CCSFS SLC 40,None None,1,False,False,False,5e9e3032383ecb761634e7cb,1.0,0,B0003,-80.577366,28.561857
5,8,2012-05-22,Falcon 9,525.0,LEO,CCSFS SLC 40,None None,1,False,False,False,5e9e3032383ecb761634e7cb,1.0,0,B0005,-80.577366,28.561857
6,10,2013-03-01,Falcon 9,677.0,ISS,CCSFS SLC 40,None None,1,False,False,False,5e9e3032383ecb761634e7cb,1.0,0,B0007,-80.577366,28.561857
7,11,2013-09-29,Falcon 9,500.0,PO,VAFB SLC 4E,False Ocean,1,False,False,False,5e9e3032383ecb761634e7cb,1.0,0,B1003,-120.610829,34.632093
8,12,2013-12-03,Falcon 9,3170.0,GTO,CCSFS SLC 40,None None,1,False,False,False,5e9e3032383ecb761634e7cb,1.0,0,B1004,-80.577366,28.561857
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
167,181,2022-08-28,Falcon 9,13260.0,VLEO,KSC LC 39A,True ASDS,2,True,True,True,5e9e3033383ecb075134e7cd,5.0,1,B1069,-80.603956,28.608058
168,182,2022-08-31,Falcon 9,13260.0,VLEO,VAFB SLC 4E,True ASDS,7,True,True,True,5e9e3032383ecb6bb234e7ca,5.0,6,B1063,-120.610829,34.632093
169,185,2022-09-17,Falcon 9,13260.0,VLEO,CCSFS SLC 40,True ASDS,6,True,True,True,5e9e3033383ecbb9e534e7cc,5.0,5,B1067,-80.577366,28.561857
170,186,2022-09-24,Falcon 9,13260.0,VLEO,CCSFS SLC 40,True ASDS,4,True,True,True,5e9e3033383ecbb9e534e7cc,5.0,0,B1072,-80.577366,28.561857
171,187,2022-10-05,Falcon 9,13260.0,ISS,KSC LC 39A,True ASDS,1,True,False,True,5e9e3033383ecbb9e534e7cc,5.0,0,B1077,-80.603956,28.608058

In [25]:
df.loc[:, 'Date'] = pd.to_datetime(df.Date)

In [27]:
df.loc[:, 'year'] = df['Date'].dt.year.astype('int32')
df.loc[:, 'month'] = df['Date'].dt.month.astype('int32')
df.loc[:, 'day'] = df['Date'].dt.day.astype('int32')

In [28]:
df

In [29]:
df.info()